.wp-block-media-text {
    &--donation,
    &--principle {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 rem(-24);
        display: block;

        .post__editor & {
            margin-block: rem(56);
        }

        @include br-lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: rem(56) 0;
            border-radius: rem(16);
            overflow: hidden;
        }

        .wp-block-media-text__media {
            display: none;

            @include br-lg {
                display: flex;
                margin: 0;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 4 / 3;
                }
            }
        }

        .wp-block-media-text__content {
            padding: rem(56);
        }

        svg {
            fill: var(--color-white);
            opacity: .75;
        }

        p {
            text-wrap: balance;

            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }

        &.has-media-on-the-right {
            grid-template-columns: 1fr;

            @include br-lg {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &--donation {
        background-color: var(--color-bg);
        text-align: left;

        .wp-block-media-text__content {
            padding: rem(40) rem(24);

            @include br-lg {
                padding: rem(48);
            }
        }

        p {
            font-size: var(--font-20);
            opacity: .85;
        }

        .wp-block-heading {
            font-size: var(--font-32);
            margin-bottom: rem(8);
        }
    }

    &--principle {
        background-color: var(--color-profile-light);

        .wp-block-heading {
            font-size: rem(72);
            color: var(--color-profile);
        }

        p {
            font-size: var(--font-24);

            a {
                font-size: var(--font-20);
            }
        }
    }

    &--sponsor,
    &--media {
        max-width: var(--medium-width);
        margin-inline: auto;
        margin-block: rem(56);

        + .wp-block-media-text {
            margin-top: rem(-32);
        }

        .wp-block-media-text__content {
            padding: 0;
            font-size: var(--font-20);
        }
    }

    &--sponsor {
        grid-template-columns: 250px 1fr;
        gap: rem(12) rem(24);

        @include br-md {
            gap: rem(48);
        }

        .wp-block-media-text__media {
            img {
                max-width: rem(250);
            }
        }
    }

    &--media {
        grid-template-columns: 150px 1fr;
        gap: rem(12) rem(24);

        @include br-md {
            gap: rem(32);
        }

        .wp-block-media-text__media {
            img {
                max-width: rem(150);
            }
        }
    }
}