.donation {
    input[type=radio] {
        width: rem(18);
        height: rem(18);
        margin: 0;
        accent-color: var(--color-profile);
    }

    label {
        display: flex;
        align-items: center;
        gap: rem(8);
    }

    &__type {
        display: flex;
        align-items: center;
        gap: rem(24);
        margin-bottom: rem(16);

        label {
            font-size: var(--font-20);
        }
    }

    &__amount {
        legend {
            font-size: var(--font-20);
            font-weight: 700;
            margin-bottom: rem(8);
        }

        label {
            background-color: var(--color-white);
            padding: rem(8) rem(12);
            border: 1px solid var(--color-neutral);
            border-radius: rem(8);
        }

        &-options {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: rem(12);
            margin-bottom: rem(12);
        }
    }

    &__custom {
        input {
            @include input;
            padding-block: rem(7);
        }
    }

    &__submit {
        button {
            @include button;
            background-color: #ff5b24;
        }
    }
}