.woocommerce-page #content {
    div.product {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "images" "summary" "tabs" "related";
        row-gap: rem(24);

        @include br-lg {
            margin-top: rem(24);
            grid-template-columns: 1fr 1.33fr;
            grid-template-areas: "images summary" "tabs tabs" "related related";
            row-gap: rem(56);
        }

        &:not(:has(.woocommerce-tabs)) {
            grid-template-areas: "images" "summary" "related";

            @include br-lg {
                grid-template-areas: "images summary" "related related";
            }
        }

        div.images {
            grid-area: images;
            width: calc(100% + #{rem(48)});
            overflow: hidden;
            margin: 0 rem(-24);

            @include br-lg {
                width: 100%;
                border-radius: rem(16);
                margin: 0;
            }

            img {
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }
        }

        div.summary {
            grid-area: summary;
            padding: 0;
            width: 100%;
            margin-bottom: 0;

            @include br-lg {
                padding: rem(48);
            }

            .price {
                font-size: var(--font-24);
                font-weight: 700;
                margin-bottom: rem(16);
            }

            .woocommerce-product-details__short-description {
                margin-bottom: rem(40);
                font-size: var(--font-20);
            }

            .cart {
                display: flex;
                gap: rem(16);

                @include br-lg {
                    margin-bottom: 0;
                }

                &::before {
                    display: none;
                }

                .quantity {
                    margin: 0;

                    input {
                        @include input;
                        width: rem(64);
                        margin-bottom: 0;
                        padding: rem(8);
                    }
                }

                .button {
                    @include shop-button;
                }
            }

            .product_meta {
                display: none;
            }
        }

        .woocommerce-tabs {
            grid-area: tabs;
        }

        .related.products {
            grid-area: related;

            > h2 {
                margin-bottom: rem(16);
                text-align: center;
                font-size: var(--font-28);
                font-weight: 400;
            }
        }
    }

    .price {
        color: var(--color-neutral-dark) !important;
    }

    ul.products {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(24);
        margin-bottom: rem(56);

        @include br-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include br-lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include br-xl {
            grid-template-columns: repeat(4, 1fr);
        }

        &::before {
            display: none;
        }

        li.product {
            width: 100%;
            margin: 0;
            background-color: var(--color-support-light);
            border-radius: rem(16);
            overflow: hidden;
            padding: 0 rem(24) rem(24);
            text-align: center;
            display: flex;
            flex-direction: column;

            a.woocommerce-loop-product__link {
                display: block;

                img {
                    aspect-ratio: 4 / 3;
                    object-fit: cover;
                    margin-inline: rem(-24);
                    margin-bottom: rem(16);
                    width: calc(100% + #{rem(48)});
                    max-width: none;
                }

                h2 {
                    padding: 0;
                    font-size: var(--font-24);
                    line-height: 1.3;
                    color: var(--color-neutral-dark);
                    text-wrap: balance;
                }

                .price {
                    font-size: var(--font-18);
                    font-weight: 700;
                    margin-bottom: rem(24);
                }
            }

            a.add_to_cart_button {
                @include shop-button;
                margin-top: auto;
            }

            a.added_to_cart {
                display: none;
            }
        }
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        border: none;
        border-radius: rem(16);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-18);
        padding: rem(16) rem(24) rem(16) rem(60);

        &::before {
            top: unset;
            font-size: var(--font-20);
        }

        &::after {
            display: none;
        }

        .button {
            @include shop-button;
        }
    }

    .woocommerce-error {
        background-color: pink;

        &::before {
            color: lightpink;
        }
    }

    .woocommerce-info {
        background-color: var(--color-bg);

        &::before {
            color: var(--color-profile);
        }
    }

    .woocommerce-message {
        background-color: var(--color-profile-light);

        &::before {
            color: var(--color-profile);
        }
    }

    .page-title,
    .product-header {
        background-color: var(--color-support-light);
    }

    .wp-block-woocommerce-cart {
        table.wc-block-cart-items {
            .wc-block-cart-items__header {
                font-size: var(--font-18);
                text-transform: none;
            }
        }
    
        .wc-block-cart__totals-title,
        .wc-block-cart-item__prices,
        .wc-block-components-product-metadata,
        .wc-block-cart-item__remove-link,
        .wc-block-components-product-price,
        .wc-block-components-totals-item {
            font-size: var(--font-18);
            line-height: normal;
            text-transform: none;
        }

        .wc-block-components-product-name {
            font-size: var(--font-20);
            font-weight: 700;
            margin-bottom: 0;
        }

        .wc-block-components-button {
            @include shop-button;
            min-height: 0;

            &:focus {
                box-shadow: none;
            }

            @media (min-width: 749px) {
                margin-top: rem(40);
            }
        }

        .wc-block-cart-item__image {
            img {
                aspect-ratio: 4 / 3;
                object-fit: cover;
                border-radius: rem(6);
            }
        }

        .wc-block-components-product-metadata__description {
            display: none;
        }
    }

    .woocommerce-ordering {
        select {
            @include input;
            padding: rem(4) rem(8);
        }
    }

    .woocommerce-Tabs-panel {
        h2 {
            display: none;
        }

        > * {
            margin-left: 0;
        }
    }

    .wp-block-woocommerce-checkout {
        padding-top: 0;
        margin-bottom: rem(72);

        .wc-block-components-checkout-step__heading {
            margin-top: 0;
        }

        .wc-block-components-checkout-step__description,
        .wc-block-components-checkout-order-summary__title {
            font-size: var(--font-18);
        }

        .wc-block-components-checkbox label,
        .wc-block-components-order-summary-item,
        .wc-block-components-notice-banner {
            font-size: var(--font-16);
        }

        .wc-block-checkout__actions_row {
            button {
                @include shop-button;
            }
        }

        .wc-block-components-product-metadata {
            display: none;
        }
    }
}

.wp-block-woocommerce-single-product {
    background-color: var(--color-support-light);
    margin-inline: rem(-24);

    @include br-lg {
        grid-template-columns: 1fr 1fr;
        border-radius: rem(16);
        overflow: hidden;
        margin: rem(56) 0;
    }

    .wp-block-columns {
        gap: 0;
        display: grid;
        grid-template-columns: 1fr;

        @include br-lg {
            grid-template-columns: 1fr 1fr;
        }
    }

    .wp-block-column {
        &:has(.wp-block-post-title) {
            padding: rem(32) rem(24);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include br-lg {
                padding: rem(32) rem(48);
            }
        }

        .wp-block-post-title {
            font-size: var(--font-32);
            line-height: 1.3;

            @include br-lg {
                font-size: var(--font-42);
            }

            a {
                color: var(--color-neutral-dark);
                
                &:hover,
                &:focus {
                    text-decoration-line: underline;
                    text-decoration-color: rgba(29,29,29,.35);
                    text-underline-offset: 15%;
                }
            }
        }

        .wp-block-woocommerce-product-price {
            font-size: var(--font-24);
            font-weight: 700;
            margin-bottom: rem(16);
        }

        .wp-block-woocommerce-product-summary {
            font-size: var(--font-20);
            margin-bottom: rem(40);

            .wc-block-components-product-summary {
                margin-bottom: 0;
            }
        }

        .wp-block-woocommerce-add-to-cart-form {
            form.cart {
                display: flex;
                gap: rem(16);
                margin-bottom: rem(8);

                &::before {
                    display: none;
                }

                .quantity {
                    margin: 0;
                    display: flex;
                    height: 100%;

                    input {
                        @include input;
                        width: rem(64);
                        margin: 0;
                        padding: rem(8);
                    }
                }

                .button {
                    @include shop-button;
                }
            }
        }

        &:has(.wc-block-components-product-image) {
            display: flex;

            div {
                display: flex;
                width: 100%;
            }

            .wc-block-components-product-image {
                margin-bottom: 0;
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                }
        
                img {
                    aspect-ratio: 4 / 3;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .wp-block-woocommerce-product-meta {
            display: none;
        }
    }
}