:root {
    --color-white: #ffffff;
    --color-neutral-dark: #1d1d1d;
    --color-neutral-light: #f2f2f2;
    --color-line: #ececec;
    --color-neutral: #939393;
    --color-profile: #0d7350;
    --color-profile-medium: #CFE3DC;
    --color-profile-light: #DBEAE5;
    --color-support: #7D4A89;
    --color-support-light: #ede8f0;
    --color-bg: #F3F3EF;
    --narrow-width: 600px;
    --medium-width: 740px;
    --full-width: 1200px;
    --font-sans-serif: "Source Sans 3", Tahoma, Arial, sans-serif;
    --font-14: .875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-24: 1.5rem;
    --font-28: 1.75rem;
    --font-32: 2rem;
    --font-42: 2.625rem;
}
